.NewPic {
  display: block;
  height: 31vw;
  max-height: 288px;
}

.Pic {
  height: 100%;
  width: 100%;
}


.Pic h2 {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Pic h2 i {
  padding: 0 5px;
}

.Pic h2 span {
  margin: 0 5px;
}

.Pic h2:hover {
  opacity: 1;
}


.NewPicCard {
  display: flex;
  background: white;
  justify-content: space-between;
}

@media (max-width: 768px){ 
  .NewPicCard img {
    width: 100%;
  }
  .NewPicCard {
    flex-direction: column;
  }
}